<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Arnaud Levy, à la croisée de l'éthique, du code & de l'esthétique">
    <title><%= current_article.title + ' - ' unless current_article.nil? %>Arnaud Levy</title>
    <%= stylesheet_link_tag "site" %>
    <%= favicon_tag "logo.png" %>
  </head>
  <body class="<%= '--blog' if current_article %>">
    <div id="background"><div id="feed"></div></div>
    <main>
      <div class="content">
        <% if current_article %>
          <h1><%= current_article.title %></h1>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <%= javascript_include_tag "site" %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11381831-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-11381831-1');
    </script>
  </body>
</html>
